[submodule "smartbugs-wild"]
	path = smartbugs-wild
	url = https://github.com/smartbugs/smartbugs-wild/
[submodule "smartbugs-curated"]
	path = smartbugs-curated
	url = https://github.com/smartbugs/smartbugs-curated
